
<h1>Presentation Slides</h1>
<hr/>

<article>
  <a class="title" href="brown-bag/functors/" data-no-turbolink="true">Monoids, Functors, and Other Dark Horses of Functional Programming (in Scala, mostly)</a>
  <span class="date" class="date">MapQuest Brown Bag, April 2014</span>
</article>

<article>
  <a class="title" href="brown-bag/parser-combinators/" data-no-turbolink="true">Creating Your Own Languages (using Scala)</a>
  <span class="date">MapQuest Brown Bag, September 2013</span>
</article>

<article>
  <a class="title" href="brown-bag/coffeescript/" data-no-turbolink="true">CoffeeScript</a>
  <span class="date">MapQuest Brown Bag, June 2013</span>
</article>

<article>
  <a class="title" href="brown-bag/css21-selectors/" data-no-turbolink="true">Selectors of CSS 2.1</a>
  <span class="date">MapQuest Brown Bag, May 2013</span>
</article>

<article>
  <a class="title" href="boulderjs/nativeoo/" data-no-turbolink="true">A Look at Native OO Using Prototype</a>
  <span class="date">BoulderJS, March 2012</span>
</article>
