article .category.ruby {
  background-image: url(../images/categories/ruby-20.png);
}

article .category.python {
  background-image: url(../images/categories/python-20.png);
}

article .category.javascript {
  background-image: url(../images/categories/js-20.png);
}

article .category.less {
  background-image: url(../images/categories/less-20.png);
}

article .category.css3 {
  background-image: url(../images/categories/css3-20.png);
}

article .category.html5 {
  background-image: url(../images/categories/html5-20.png);
}

article .category.c-sharp {
  background-image: url(../images/categories/csharp-20.png);
}

article .category.f-sharp {
  background-image: url(../images/categories/fsharp-20.png);
}

article .category.git {
  background-image: url(../images/categories/git-20.png);
}

article .category.scala {
  background-image: url(../images/categories/scala-20.png);
}

article .category.windows {
  background-image: url(../images/categories/windows-20.png);
}

article .category.coffeescript {
  background-image: url(../images/categories/coffeescript-20.png);
}

article .category.rust {
  background-image: url(../images/categories/rust-20.png);
}

article .category.elixir {
  background-image: url(../images/categories/elixir-20.png);
}

article .category.java {
  background-image: url(../images/categories/java-20.png);
}

article .category.swift {
  background-image: url(../images/categories/swift-20.png);
}

article .category.clojure {
  background-image: url(../images/categories/clojure-20.png);
}
